.sound {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.2s;
  color: var(--color-foreground-muted);

  &:focus-visible {
    outline: 2px solid var(--color-neutral-400);
    color: var(--color-foreground-subtle);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--color-foreground-subtle);
  }

  & .icon {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    font-size: var(--font-base);
    transition: 0.2s;

    & span {
      line-height: 0;
    }

    & .spinner {
      line-height: 0;
      animation-name: spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  &:hover .icon,
  &:focus-visible .icon {
    color: var(--color-foreground-subtle);
  }

  &.selected {
    color: var(--color-foreground);
  }

  & .label {
    margin-top: 8px;
    font-family: var(--font-heading);
    font-size: var(--font-sm);
    font-weight: 600;
    line-height: 1.6;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
